<div class="m-3 shadow-lg rounded">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <div class="card text-center m-3 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" ng-model="username" id="username"
                                placeholder="username">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" ng-model="password" id="password"
                                placeholder="password">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success form-control"
                                ng-click="authenticate()">Login</button>
                        </div>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div>
                        <a href="#!login" class="card-link">Forgot Password</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>