<div class="m-3 shadow-lg rounded">
    <div class="row card">
        <div class="card-header text-center">
            <div ng-include="'views/navigation.htm'"></div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="name">
                    </div>
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="contact">
                    </div>
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="sale">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="placeholder">
                    </div>
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="demo">
                    </div>
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="dummy">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="placeholder">
                    </div>
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="demo">
                    </div>
                    <div class="m-3">
                        <input class="form-control" type="text" id="" placeholder="dummy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>